@use "../../scss/variables" as *;
@use "../../scss/mixin" as *;
@use "../../scss/globals" as *;

.clearfix:after {
    display: block;
    clear: both;
}
.clearfix{
    margin: 0px;
}

.menu {
    @include contentCenter(center, center);
    height: 50px;
}

.menu li {
    margin: 0px;
    list-style: none;
}

.menu a {
    transition: all linear 0.15s;
    color: #919191;
    text-decoration: none;
}



.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}

/*----- css cho phần menu cha -----*/
.menu>ul>li {
    float: left;
    display: inline-block;
    font-size: 19px;
}

.menu>ul>li>a {
    padding: 0px 30px;
    display: block;
    height: 100%;
    color: #231F20;
}

.menu>ul>li:hover>a {
    color: #8e8e8e;
    background-color: $light-yellow;
}

/*----css cho menu con----*/
.menu li:hover .sub-menu {
    display: flex;
}

.sub-menu {
    margin-top: 6px;
    
    background-color: #ffff;
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    top: 79px;
    left: 0px;
    display: none;
    transition: opacity linear 0.15s;
    z-index: 99999999;
}

.sub-menu::after {
    content: "";
    border-width: 40px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    right: 53%;
    top: -41px;
}
.sub-menu ul{
  padding: 0px;
}


.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    padding: 5px 30px;
    display: block;
}

.sub-menu__link {
    color: #8e8e8e;
    font-weight: 600;
    font-size: 13px;
    margin: 0px 0px 20px;
}

.sub-menu__link:hover {
    color: $orange-color;
}

.sub-menu__list2 {
    display: flex;
    flex-direction: column;
}

.sub-menu__list2 a:hover {
    color: #2f5acf;
}

.sub-menu__list2>a {
    font-weight: bold;
    font-size: 13px;
    color: #000;
}

.sub-menu__list2>div>a {
    font-size: 10.4px;
    color: #000;
    font-weight: bold;
}
.type p{
margin: 0px;
}
.type p:nth-child(2) {
    font-size: 10px;
    margin-top: 5px;
}
.list-type ul{
    padding: 0px;
}

.list-type>ul>li>a {
    padding: 6px 0px;
    font-size: 13px;
}

.clearfix>li>a {
    font-size: 13px;
    color: #231F20;
    font-weight: bold;
}